
<nav>
    <ul class="navbar-nav flex-grow-1">
        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Trainee", "Index", "Trainee", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Student", "Index", "Student", new { area = "" }, new { @class = "nav-link" })</li>
    </ul>
</nav>

