<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup style="padding: 20px; color:red">
        <h1>Error.</h1>
        @*How to display error detail in the Error view?*@
        <h2>An error occurred while processing your request.</h2>
        <h6>Controller Name: @Model.ControllerName</h6>
        <h6>Action Name:  @Model.ActionName</h6>
        <h6>Exception Details: @Model.Exception</h6>
    </hgroup>
</body>
</html>
