@{
    ViewBag.Title = "Product Controller";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<p style="margin-top:100px;">Welcome back @TempData["UserName"]!!!</p>

@section Note{
   <h3>
       Product Details
    </h3>
}

@section footer{
    <p>
        &copy;  2023 - My ASP.NET Application in Product Controller
    </p>
}