@model List<string>
@{
    ViewBag.Title = "Countries Details";
    //Layout = "~/Views/Shared/_PartialView.cshtml";
}

@foreach (string country in Model)
{
    <ul>
        <li>
            <b>
                @country
            </b>
        </li>
    </ul>
}
